nav {
    background-color: #212226;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

#websiteName{
    color: white;
    flex: 1;
}

#navigationLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex: 1.385;
}

#searchBarDiv, #placeholderDiv{
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
    justify-content: flex-end;
}

#searchBar{
    width: 180px;
}

nav a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 3px;
}

body{
    margin: 0px;
}

#pageBody{
    background-image:
        linear-gradient(to right, rgba(0, 75, 255, .4) 15% , rgba(0, 125, 255, .4) 30% , rgba(0, 100, 255, 0) 50%),
        url('./travel_recommendation_background_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}

#webpageSlogan{
    display: flex;
    width: 400px;
    color: white;
    font-size: 100px;
    padding-top: 50px;
    padding-left: 25px;
}

#webpageIntro{
    display: flex;
    color:white;
    width: 400px;
    font-size: 22px;
    padding-top: 25px;
    padding-left: 25px;
}

#aboutUsTitle{
    margin: 0px;
    display: flex;
    color: white;
    width: 400px;
    font-size: 50px;
    padding-left: 25px;
    padding-top: 25px;
}

#companyInfo{
    display: flex;
    color: white;
    font-size: 22px;
    background-color: rgba(110,110,110,.4);
    width: 95%;
    padding: 10px;
    margin: 25px auto;
}

#teamMembers{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 22px;
    background-color: rgba(110,110,110,.4);
    width: 95%;
    padding: 10px;
    margin: 25px auto;
}